html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background-color: #EBEBEB;
    /* width: 100%; */
    background-size: cover;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: Microsoft JhengHei;
}

::placeholder {
    color: #d6d6d6;
}

.top-bar-container {
    background-color: #1C1F4C;
    width: 100%;
    height: 75px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top-bar-container .top-bar-identity {
    padding-left: 10px;
    font-size: 26px;
    line-height: 75px;
    width: 100px;
    white-space: nowrap;
}

.top-bar-container .top-bar-status {
    font-size: 40px;
    line-height: 75px;
    font-weight: bold;
}

.top-bar-container .logout-form {
    width: 100px;
    padding-right: 10px;
    height: 75px;
}

.logout-form .top-bar-function {
    height: 75px;
    /* line-height: 75px; */
    display: flex;
    align-items: center;
    float: right;
}

.logout-form button {
    font-family: Microsoft JhengHei;
    font-size: 26px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    outline: none;
    height: 43px;
    width: 100px;
    background-color: #EBEBEB;
    text-align: center;
    white-space: nowrap;
}

.mainframe-container {
    padding-top: 20px;
    /* padding-bottom: 30px; */
}

.table-containter {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.table-containter input {
    border: 2px solid #000000;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    padding: 10px 6px;
    font-family: Microsoft JhengHei;
    font-size: 24px;
    outline:none;
}

.table-containter input:focus {
    background-color: rgb(255, 242, 242);
}

.table-containter select{
    border: 2px solid #000000;
    background-color: #1C1F4C;
    color: white;
    border-radius: 6px;
    text-align: center;
    height: 70px;
    width: 130px;
    outline: none;
    font-size: 24px;
    margin: 15px 15px;
}
select::-ms-expand{
    display: none;
}

.table-containter select:focus{
    box-shadow: #467BF4;
}

.calender-container{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.calender-container label{
    display: block;
    text-align: center;
    margin: auto 15px;
}

.calender-container input{
    display: block;
    width: 200px;
    font-size: 24px;
}

.table-containter button {
    font-family: Microsoft JhengHei;
    font-size: 24px;
    width: 250px;
    height: 70px;
    border-radius: 20px;
    border: none;
    background-color: #1C1F4C;
    color: #ffffff;
    margin: 15px 15px;
    outline:none;
}

.table-containter button:hover {
    background-color: rgba(28, 31, 76, 0.8);
    /* outline:none; */
}

.table-containter button:active {
    background-color: rgba(28, 31, 76, 0.6);
    /* outline:none; */
}

.table-containter button:disabled {
    background-color: rgba(141, 148, 154, 0.6);
}


.selected td {
    background-color: #AAAAAA !important;
}

.calender-container label{
    display: block;
    text-align: center;
    margin: auto 15px;
}

.calender-container input{
    display: block;
    width: 160px;
}
.bottom-button-container {
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
}

.bottom-button-container button {
    font-family: Microsoft JhengHei;
    font-size: 24px;
    width: 190px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: #1C1F4C;
    color: #ffffff;
    margin: 15px 15px;
    outline:none;
}

.bottom-button-container button:hover {
    background-color: rgba(28, 31, 76, 0.8);
    /* outline:none; */
}

.bottom-button-container button:active {
    background-color: rgba(28, 31, 76, 0.6);
    /* outline:none; */
}

.bottom-button-container button:disabled {
    background-color: rgba(141, 148, 154, 0.6);
}